.app-top {
    width: 100%;
    background-color: #4d2fd4;
    border-bottom: 1px solid #ffffff;
    position: fixed;
    z-index: 9999;
}

.app-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0px auto 0px auto;
    background-color: #4d2fd4;
}

.space-logo {
    font-family: 'Play', sans-serif;
    font-size: 20px;
    padding: 10px;
    width: 180;
    background-color: #563bd1;
    color: #dedaf7;

    > .linkLogo {
        text-decoration: none;
        font-family: 'Play', sans-serif;
        font-size: 20px;
        color: #dedaf7;
    }    
}

.list-menu {
    width: calc(100% - 340px);
}

.list-menu ul {
    list-style: none;
}

.list-menu li {
    display: inline;
    padding: 10px 20px 10px 20px;
    margin: 5px;
}

.list-menu li:hover {
    border-bottom: 1px solid #c7c7c7;
}

.list-menu li a {
    text-decoration: none;
    color: #ffffff;
}

.space-menu-users {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    color: #ffffff;
}

.space-menu-users span {
    padding: 10px;
    margin-top: 5px;
    color: #ffffff;
}

.space-menu-users:hover {
    border-bottom: 1px solid #c7c7c7;
    margin-top: 1px;
}