.app-top {
    width: 100%;
    background-color: lightblue;
}

.app-menu {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0px auto 20px auto;
    background-color: lightgreen;
}